* {
  margin: 0;
  padding: 0;
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.eventSignupContent {
  max-width: 40%;
  min-width: 30%;
  margin: 0 auto;
  padding: 50px 0;
}

.eventSignupImg {
  max-width: 475px;
  max-height: 475px;
  object-fit: scale-down;
}

.eventContent {
  display: flex;
  align-items: center;
}

.eventContent > .textDiv {
  max-width: 60%;
  margin: 0 auto;
}

.ticket {
  box-sizing: border-box;
  padding: 30px 100px;
  background-color: lightgray;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#createTicket {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.inputGrp {
  margin-right: 30px;
}

.formSubmitBtn {
  margin-top: 20px;
}

.business-header-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.business-info-container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 5%;
}

.business-info-image {
  height: 35%;
  width: 25%;
  margin-right: 2%;
}

.business-event-title {
  margin-bottom: 2%;
}

.business-event-container {
  display: flex;
}

.event-component-container {
  margin: 1%;
}

.event-component-image-content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
